@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
body{
    margin: 0;
    background: url(/img/bg-chat.png);
    font-family: 'Montserrat';
    background-size: cover;
}
*{
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.alighn-center{
    align-items: center;
}
.alighn-end {
    align-items: flex-end;
}
.chat__container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__block{
    color: #fff;
    max-width: 1100px;
    width: 100%;
    height: 800px;
    margin: auto;
    background-color: #0E1621;
    border-radius: 32px 32px 0 0;
    flex-direction: column;
    
}

.chat__header{
    width: 100%;
    height: 70px;
    background-color: #17212B;
    padding: 0 30px;
    border-radius: 32px 32px 0 0;
}

.chat__header-userIcon{
    width: 48px;
    height: 48px;
    background-color: #b97900;
    border-radius: 24px;
    border: 1px solid #66727D;
    justify-content: center;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
}

.chat__messages{
    width: 100%;
    padding: 5px 30px;
    overflow-y: auto;
    max-height: 662px
}
    .chat__messages::-webkit-scrollbar{
        width: 5px;
        border-radius: 3px;
        background-color: #2B5278;
    }
    .chat__message {
        align-items: flex-end;
        margin-bottom: 14px;
        display: flex;
    }

.chat__message-userIcon{
    width: 48px;
    height: 48px;
    background-color: #b97900;
    border-radius: 24px;
    justify-content: center;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
}

.chat__message-block{
    padding: 14px;
    background: #2B5278;
    border-radius: 8px 8px 8px 0;
    max-width: calc(100% - 70px);
}

    .chat__message-block.coins {
        background: #F8BA4C;
    }

.chat__message-val{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;   
}
.chat__message-val.coins {
    color: #fff;
}

.span-coins{
    font-size: 20px;
}

.img-coins {
    margin-left: 14px;
    margin-top: 10px;
    margin-right: 10px;
}

.chat__message-time{
    float: right;
    margin-top: auto;
    width: 80px;
    height: 15px;
    font-size: 12px;
    text-align: right;
    padding-top: 10px;
    color: #7DA8D3;
}

    .chat__message-time.coins{
        color: #fff;
    }

    .chat__sendBLock {
        align-items: flex-end;
        background: #17212B;
        padding: 10px 14px;
        position: relative;
    }
.chat__sendfile {
    cursor: pointer;
    transition: .3s all;
    border: 3px solid #1E316300;
    padding: 5px;
    border-radius: 8px;
}
    .chat__sendfile.active {
        cursor: pointer;
        border-color: #1E3163;
    }
.chat__message-value {
    background: none;
    border: none;
    width: 100%;
    resize: none;
    margin: 8px 14px;
    outline: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    transition: .3s all;
}

.chat__message-value::-webkit-scrollbar {
    width: 5px;
    background-color: #7DA8D3;
    border-radius: 2px;
}
.chat__sendMessage{
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}
