@model int 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/proffer.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/img/logo.png" class="header__logo" />
            <div class="header__nav d-flex justify-between">
                <a href="/Home/Index" class="header__nav-item">Главная</a>
                <a href="/Home/Events" class="header__nav-item">Мероприятия</a>
                <a href="/Home/Mentoring" class="header__nav-item">Наставничество</a>
                <a href="#" class="header__nav-item">Пожелания</a>
                <a href="/Home/message?id=2" class="header__nav-item">Чаты</a>
            </div>
            <div class="coin">
                <img src="/img/coin.png" class='coin__img'>
                <p class="coin__count">@Model</p>
            </div>
            <div class="header__user d-flex">
                <img src="/img/user-img.png" class="header__user-img" />
            </div>
        </div>
    </div>
    <div class="proffer-container">
        <div class="proffer">
            <div class="proffer-arrow"><img src="/img/vuesax-linear-arrow-circle-right.png" alt="" srcset=""></div>
            <div class="proffer__title">День космонавтики</div>
            <p class="proffer__subtitle">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, [...]</p>
            <div class="proffer__orphanage d-flex alighn-center"><img src="/img/linear-profile-2user.png" alt="" srcset=""> Дом: <span class="proffer__orphanage-value"> Центр помощи детям №4</span></div>
            <div class="proffer__city d-flex alighn-center"><img src="/img/linear-location.png" alt="" srcset=""> Город: <span class="proffer__city-value"> Ростов-на-Дону</span></div>
            <div class="proffer__bottom d-flex justify-between alighn-center">
                <div class="proffer__buttons d-flex justify-between alighn-center">
                    <a href="" class="proffer__buttons-contact">Связаться</a>
                    <div class="proffer__buttons-details">Подробнее</div>
                    <div class="proffer__buttons-username d-flex alighn-center"><img src="/img/vuesax-linear-profile-circle.png" alt="" srcset=""> Иван Иванов</div>
                </div>
                <div class="proffer__like d-flex alighn-center"><div class="proffer__like-value">1 324</div><div class="profile__like-icon"></div></div>
            </div>
        </div>

        <div class="proffer">
            <div class="proffer-arrow"><img src="/img/vuesax-linear-arrow-circle-right.png" alt="" srcset=""></div>
            <div class="proffer__title">День космонавтики</div>
            <p class="proffer__subtitle">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, [...]</p>
            <div class="proffer__orphanage d-flex alighn-center"><img src="/img/linear-profile-2user.png" alt="" srcset=""> Дом: <span class="proffer__orphanage-value"> Центр помощи детям №4</span></div>
            <div class="proffer__city d-flex alighn-center"><img src="/img/linear-location.png" alt="" srcset=""> Город: <span class="proffer__city-value"> Ростов-на-Дону</span></div>
            <div class="proffer__bottom d-flex justify-between alighn-center">
                <div class="proffer__buttons d-flex justify-between alighn-center">
                    <a href="" class="proffer__buttons-contact">Связаться</a>
                    <div class="proffer__buttons-details">Подробнее</div>
                    <div class="proffer__buttons-username d-flex alighn-center"><img src="/img/vuesax-linear-profile-circle.png" alt="" srcset=""> Иван Иванов</div>
                </div>
                <div class="proffer__like d-flex alighn-center"><div class="proffer__like-value">1 324</div><div class="profile__like-icon"></div></div>
            </div>
        </div>

        <div class="proffer">
            <div class="proffer-arrow"><img src="/img/vuesax-linear-arrow-circle-right.png" alt="" srcset=""></div>
            <div class="proffer__title">День космонавтики</div>
            <p class="proffer__subtitle">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, [...]</p>
            <div class="proffer__orphanage d-flex alighn-center"><img src="/img/linear-profile-2user.png" alt="" srcset=""> Дом: <span class="proffer__orphanage-value"> Центр помощи детям №4</span></div>
            <div class="proffer__city d-flex alighn-center"><img src="/img/linear-location.png" alt="" srcset=""> Город: <span class="proffer__city-value"> Ростов-на-Дону</span></div>
            <div class="proffer__bottom d-flex justify-between alighn-center">
                <div class="proffer__buttons d-flex justify-between alighn-center">
                    <a href="" class="proffer__buttons-contact">Связаться</a>
                    <div class="proffer__buttons-details">Подробнее</div>
                    <div class="proffer__buttons-username d-flex alighn-center"><img src="/img/vuesax-linear-profile-circle.png" alt="" srcset=""> Иван Иванов</div>
                </div>
                <div class="proffer__like d-flex alighn-center"><div class="proffer__like-value">1 324</div><div class="profile__like-icon"></div></div>
            </div>
        </div>

        <div class="proffer">
            <div class="proffer-arrow"><img src="/img/vuesax-linear-arrow-circle-right.png" alt="" srcset=""></div>
            <div class="proffer__title">День космонавтики</div>
            <p class="proffer__subtitle">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, [...]</p>
            <div class="proffer__orphanage d-flex alighn-center"><img src="/img/linear-profile-2user.png" alt="" srcset=""> Дом: <span class="proffer__orphanage-value"> Центр помощи детям №4</span></div>
            <div class="proffer__city d-flex alighn-center"><img src="/img/linear-location.png" alt="" srcset=""> Город: <span class="proffer__city-value"> Ростов-на-Дону</span></div>
            <div class="proffer__bottom d-flex justify-between alighn-center">
                <div class="proffer__buttons d-flex justify-between alighn-center">
                    <a href="" class="proffer__buttons-contact">Связаться</a>
                    <div class="proffer__buttons-details">Подробнее</div>
                    <div class="proffer__buttons-username d-flex alighn-center"><img src="/img/vuesax-linear-profile-circle.png" alt="" srcset=""> Иван Иванов</div>
                </div>
                <div class="proffer__like d-flex alighn-center"><div class="proffer__like-value">1 324</div><div class="profile__like-icon"></div></div>
            </div>
        </div>

        <div class="proffer">
            <div class="proffer-arrow"><img src="/img/vuesax-linear-arrow-circle-right.png" alt="" srcset=""></div>
            <div class="proffer__title">День космонавтики</div>
            <p class="proffer__subtitle">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, [...]</p>
            <div class="proffer__orphanage d-flex alighn-center"><img src="/img/linear-profile-2user.png" alt="" srcset=""> Дом: <span class="proffer__orphanage-value"> Центр помощи детям №4</span></div>
            <div class="proffer__city d-flex alighn-center"><img src="/img/linear-location.png" alt="" srcset=""> Город: <span class="proffer__city-value"> Ростов-на-Дону</span></div>
            <div class="proffer__bottom d-flex justify-between alighn-center">
                <div class="proffer__buttons d-flex justify-between alighn-center">
                    <a href="" class="proffer__buttons-contact">Связаться</a>
                    <div class="proffer__buttons-details">Подробнее</div>
                    <div class="proffer__buttons-username d-flex alighn-center"><img src="/img/vuesax-linear-profile-circle.png" alt="" srcset=""> Иван Иванов</div>
                </div>
                <div class="proffer__like d-flex alighn-center"><div class="proffer__like-value">1 324</div><div class="profile__like-icon"></div></div>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/pages-script.js"></script>
</body>
</html>

